.container {
  margin: 0 auto;
  /* max-width: 1176px; */
  height: 100%;
  /* background-color: black; */
  color: #fff;
}

.text {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  text-align: left;
  line-height: 62px;

  border: 1px solid red;
  max-width: 820px;
  /* max-height: 124px; */
}

.description {
  color: #fff;
  font-size: 14px;
  font-weight: light;
  text-align: left;
  line-height: 18px;
  letter-spacing: -2%;
  max-width: 300px;
  border: 1px solid red;
  /* max-height: 124px; */
}

.main_bg {
  background: #141414;
  max-width: 100%;
}

.main_page {
  margin: 0 auto;
  height: 789px;
  max-width: 1176px;
}
